In [1]:
import pandas as pd

In [6]:
df = pd.read_excel("Задания/Datasets/blood.xlsx")
df.columns = ['x1', 'x2', 'x3']
print(df.shape)
df.head(20)

(11, 3)

     x1  x2   x3
0   132  52  173
1   143  59  184
2   153  67  194
3   162  73  211
4   154  64  196
5   168  74  220
6   137  54  188
7   149  61  188
8   159  65  207
9   128  46  167
10  166  72  217