In [1]:
import pandas as pd

In [12]:
df = pd.read_csv("Задания/Datasets/cigarettes.dat.txt", delim_whitespace=True, header=None, on_bad_lines='skip')
df.columns = ['name','carbon monoxide', 'tar', 'nicotine', 'weight']
print(df.shape)
df.head(20)

(25, 5)

/var/folders/19/c1rn4t0n4qn2h0cjhj9f9_3r0000gn/T/ipykernel_17216/1435826511.py:1: FutureWarning: The 'delim_whitespace' keyword in pd.read_csv is deprecated and will be removed in a future version. Use ``sep='\s+'`` instead
  df = pd.read_csv("Задания/Datasets/cigarettes.dat.txt", delim_whitespace=True, header=None, on_bad_lines='skip')

             name  carbon monoxide   tar  nicotine  weight
0          Alpine             14.1  0.86    0.9853    13.6
1   Benson&Hedges             16.0  1.06    1.0938    16.6
2      BullDurham             29.8  2.03    1.1650    23.5
3     CamelLights              8.0  0.67    0.9280    10.2
4         Carlton              4.1  0.40    0.9462     5.4
5    Chesterfield             15.0  1.04    0.8885    15.0
6    GoldenLights              8.8  0.76    1.0267     9.0
7            Kent             12.4  0.95    0.9225    12.3
8            Kool             16.6  1.12    0.9372    16.3
9             L&M             14.9  1.02    0.8858    15.4
10     LarkLights             13.7  1.01    0.9643    13.0
11       Marlboro             15.1  0.90    0.9316    14.4
12          Merit              7.8  0.57    0.9705    10.0
13    MultiFilter             11.4  0.78    1.1240    10.2
14  NewportLights              9.0  0.74    0.8517     9.5
15            Now              1.0  0.13    0.7851     1.5
16        OldGold             17.0  1.26    0.9186    18.5
17  PallMallLight             12.8  1.08    1.0395    12.6
18        Raleigh             15.8  0.96    0.9573    17.5
19     SalemUltra              4.5  0.42    0.9106     4.9